<?xml version="1.0"?>
<robot name="servo_robot">
    <link name="world_link">
        
    </link>

    <link name="base_link">
        <visual name="">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.0 2.0 1.0"/>
            </geometry>
            <material name="Red1">
                <color rgba="0.7 0.3 0.1 1.0"/>
                <texture filename=""/>
            </material>
        </visual>
    </link>

    <link name="stand_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.2" length="0.2"/>
            </geometry>
            <material name="Black1">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
    </link>

    <link name="knob_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.2" length="2.0"/>
            </geometry>
            <material name="Cyan2">
                <color rgba="0.0 0.5 0.5 0.8"/>
            </material>
        </visual>
    </link>

    <joint name="world_base" type="fixed">
        <parent link="world_link"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 0.0"/>
    </joint>

    <joint name="world_stand_joint" type="fixed">
        <parent link="world_link"/>
        <child link="stand_link"/>
        <origin xyz="0.0 0.0 1.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <!-- <joint name="world_knob_joint" type="revolute">
        <parent link="world_link"/>
        <child link="knob_link"/>
        <axis xyz="0 -1 0"/>
        <limit lower="-3.14159" upper="3.14159" velocity="50.0" effort="1000.0"/>
        <origin xyz="0 0 1.3" rpy="1.57 0 1.57"/>
    </joint> -->

    <joint name="world_knob_joint" type="fixed">
        <parent link="world_link"/>
        <child link="knob_link"/>
        <origin xyz="0.0 0.0 1.3" rpy="0 0.0 1.57"/>
    </joint>
    
</robot>