<?xml version="1.0"?>
<launch>

    <param name="robot_description" textfile="$(find collision_0)/description/modified.urdf"/>
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find collision_0)/rviz_config/robot_model_only.rviz"/>
    <node pkg="collision_0" type="collision_0_broadcaster.py" name="collision_0_broadcaster" />

</launch>